      .navbar {
          margin-bottom: 0;
          border-radius: 0;
          background-color: #333;
          color: #fff;
          padding: 2px 0;
          font-size: 0.9em;
          border: 0;
      }
      .navbar-brand {
          padding: 0 15px 5px;

      }
      .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
          color: white;
          background: transparent;
      }
      .navbar-inverse .navbar-nav li a {
          color: d5d5d5;
      }
      .carousel-caption {
          top: 50%;
          transform: translateY(-50%);
          text-transform: uppercase;
      }
      #icon {
          max-width: 200px;
          margin: 1% auto;
      }
      @media (max-width: 600px) {
          .carousel-caption {
          display:none;
          }
      }
      @media (max-width: 900px) {
          .fa {
              font-size: 20px;
              padding: 10;
          }
          .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
            background-attachment: scroll;
          }
      }
      #icon {
          max-width: 150px;
      }
      h2 {
          font-size: 1.7em;
      }
      footer {
          width:100%;
          background-color:#333;
          padding: 1%;
          color:white;
      }
      .fa {
          padding: 15px;
          font-size: 25px;
          color: #fff;
      }
      .fa:hover {
          color: white;
          text-decoration: none;
      }

      .container {
          margin: 4 auto;
          padding-top:0;
      }
      #copyrights {
          background-color: #333;
          color: white;
          text-align: center;
          margin-top: 40px;
          padding-top: 40px;
      } 
      .pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
        position: relative;
        opacity: 0.75;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 0;

       /* background-attachment responsbile for the parallex if fixed
        scroll = normal */

        background-attachment: fixed;
      }
      .pimg1 {
          background-image: url("../img/coding.jpg");
          min-height: 70%;
      }
      .pimg2 {
          background-image: url("../img/startup.jpg");
          min-height: 400px;
      }
      .pimg3 {
          background-image: url("../img/pexels.jpeg");
          min-height: 400px;
      }
      .pimg4 {
          background-image: url("../img/pexel.jpg");
          min-height: 400px;
      }
      .pimg5 {
          background-image: url("../img/office.jpg");
          min-height: 400px;
      }
      .ptext {
        position: absolute;
        top: 48%;
        width: 100%;
        text-align: center;
        color: black;
        font-size: 27px;
        letter-spacing: 8px;
        text-transform: uppercase;
        font-weight: bold;
      }
      .section {
        padding: 50px 80px;
      }
      .section-light {
        background-color: #f4f4f4;
        color: #666;
      }

      .section-dark {
        background-color: #282e34;
        color: #ddd;
      }
      body, html {
        height: 100%;
        margin: 0;
        font-size: 16px;
        font-family: "lato", sans-serif;
        font-weight: 400px;
        line-height: 1.8em;
        color: #666;
      }
      .skills {
        width:100%;
      }
      .experience {
        width:100%;
      }
      .education {
        width:100%;
      }
      .jumbotron {
        padding-top:0;
        padding-bottom:0;
      }
     

